.start-screen {
    height: 908px;
    /* width: 1280px; */
    background: linear-gradient(to right, #5B483A, #211F20);
    background-image: url('images/start-screen-background.svg');
    /* background: url(images/noise_transparent.png),
    linear-gradient(to right, #513D2F, #1A1A1C); */
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 908px;
    ;
}

html {
    scroll-behavior: smooth;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.logo-link {
    text-decoration: none;
}

.header-logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.header-logo-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #ffffff;

    margin: 11px 0 0 4px;
}

.header-logo-title-our {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.header-logo-subtitle-our {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #292929;

    margin: 11px 0 0 4px;
}

.start-screen-header {
    padding-top: 30px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.start-screen-header-our {
    padding-top: 30px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list-link {
    color: #CDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #fafafa;
}

.nav-list-link-our {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
}

.nav-list-link-our:hover {
    color: #292929;
}

.checked {
    color: #292929;
    padding-bottom: 4px;
    border-bottom: #F1CDB3 solid 3px;
    cursor: default;
}

.checked1 {
    color: #fafafa;
    padding-bottom: 4px;
    border-bottom: #F1CDB3 solid 3px;
    cursor: default;
}

.nav-li {
    list-style-type: none;

    margin-left: 36px
}

.start-screen-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    /* align-items: center; */
    margin: 0 auto;
}

.content-text {
    max-width: 460px;
    max-height: 322px;
    padding-top: 252px;

}

.content-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;

    max-width: 320px;
    margin: 0;

}

.content-subhead {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 42px 0 56px;
}

.content-image {
    padding-top: 90px;
}

.content-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-weight: 400;
    color: #292929;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: transparent;
    padding: 16px 45px;
    text-decoration: none;
}

.content-btn:hover {
    background-color: #FDDCC4;
}

.about {
    height: 588px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content {
    max-width: 430px;
    max-height: 380px;
    padding-bottom: 89px;
    padding-right: 215px;
}

.about-content-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 35px 0 0;
    max-width: 370px;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

}

.about-content-subhead {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 25px;
}

.about-img {
    padding-bottom: 16px;
    padding-left: 215px;
}


.pets {
    height: 877px;
    background-color: #F6F6F6;

}

.pets-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets-head-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    max-width: 400px;
    padding-top: 45px;
    margin-bottom: 60px;
}

.slider {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cards-wrapper {
    display: flex;
    gap: 90px;
    margin-bottom: 59px;
}

.card {
    background: #fafafa;
    border-radius: 15px;
    text-align: center;
    width: 270px;
    height: 435px;
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
}

.card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 24px 0 30px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.card-btn {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #292929;
    background: transparent;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    cursor: pointer;
    width: 187px;
    height: 52px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.slider-arrow {
    margin-bottom: 60px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #FDDCC4;
    background: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;

}

.pets-btn {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    border-radius: 100px;
    background-color: #F1CDB3;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    padding: 15px 45px;

}

.pets-btn:hover {
    background-color: #FDDCC4;
}

.slider-arrow:hover {
    background: #FDDCC4;
}

.card:hover .card-btn {
    background: #FDDCC4;
}

.card:hover {
    cursor: pointer;
}



.help {
    height: 611px;
    max-height: 611px;
    background-color: #ffffff;
}

.help-content {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-head-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin-top: 80px;
    max-width: 343px;
}



.help-section {
    padding: 80px 40px;
    text-align: center;
    font-family: 'Georgia', serif;
    color: #545454;
}

.help-section h2 {
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 60px;
}


.help-list {
    max-width: 1026px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px 90px;
    list-style: none;
    padding: 23px 0;
    margin: 0;
}

.help-list-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.help-list-item:nth-child(6) {

    padding-left: 84px;

}

.help-list-item:nth-child(9) {

    padding-right: 82px;

}

.help-list-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    object-fit: contain;
}

.help-list-item p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}


.donat {
    /* width: 1280px; */
    height: 462px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;

}

.donat-block {
    display: flex;
    max-width: 915px;
    width: 1280px;
    margin: 0 auto;
}

.donat-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donat-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding-right: 50px;
    max-width: 300px;
    margin-top: -10px;
}

.donat-subheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-right: 42px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donat-text-about {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #B2B2B2;
    margin-top: 20px;
    padding-left: 30px;
}

.donat-link {
    text-decoration: none;
    cursor: pointer;
}

.donat-btn {
    text-decoration: none;
    border: transparent;
    border-radius: 9px;
    background-color: #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
}

.donat-btn img {
    margin-right: 16px;
}

.donat-btn:hover {
    background-color: #FDDCC4;
    cursor: pointer;
}

.donat-btn p {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets-footer {
    background: url(images/noise_transparent.png),
        linear-gradient(to right, #513D2F, #1A1A1C);
    height: 350px;
}

.footer-content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.footer-text-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-top: 57px;
    margin-bottom: 0;
}

.footer-text-subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-right,
.footer-left {
    width: 302px;
    max-width: 302px;
}

.footer-right {
    padding-right: 23px;
}

.email {
    padding-top: 36px;
    margin-bottom: 40px;
}

.marker1 {
    padding-top: 29px;
    margin-bottom: 34px;
}

.footer-image {
    display: flex;
    align-items: flex-end;
}

.footer-image img {
    width: 300px;
    height: 310px;
}


.our-pets {
    height: 1342px;
}

.cards-wrapper-our {
    display: flex;
    gap: 30px 40px;
    margin-bottom: 58px;
    flex-wrap: wrap;
}

.pets-head-text-our {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin-top: 79px;
    margin-bottom: 60px;
}

.card-btn {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #292929;
    background: transparent;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    cursor: pointer;
    width: 187px;
    height: 52px;
}

.slider-arrow {
    margin-bottom: 60px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #FDDCC4;
    background: none;
    cursor: pointer;
}

.pets-btn-our {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    border-radius: 100px;
    width: 261px;
    height: 52px;
    background-color: #F1CDB3;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
}


.pets-arr {
    display: flex;
    gap: 20px;
}

.number {
    background: #F1CDB3;
    border: #F1CDB3;
}

.our-prev {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}





@media (max-width: 850px) {
    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* @media screen(max-widht: 1280px) {
    .start-screen{
        width: 1280px;
        max-width: 1280px;
    }

} */
@media (min-width: 768px) and (max-width: 1279.98px) {
    .start-screen {
        min-width: 768px;
        /* min-height: 1165px; */
        overflow: hidden;

    }

    .start-screen-header, .start-screen-header-our  {
        width: 97%;
        /* max-width: 708px; */
    }

    .start-screen-content {
        /* flex-direction: column; */
        align-items: center;
        padding-top: 60px;

    }

    .content-heading {
        align-self: flex-start;
    }

    .content-subhead {
        margin: 40px 0 42px;
    }

    .help-content {
        width: 100%;
    }

    .footer-content {
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .cards-wrapper, .cards-wrapper-our{
        gap: 40px;
    }

    .content-image img {
        width: 81%;
    }

    .about-content {
        padding: 0;
        padding-top: 45px;
    }

    .about-img {
        padding-bottom: 95px;
        padding-left: 0;
    }
    .pets-footer{
        min-height: 639px;
    }
    .our-pets{
        min-height: 1733px;
    }
    .pets-head-text-our{
        margin-bottom: 30px;
    }
    .cards-wrapper-our{
        justify-content: center;
        gap: 61px 40px;

    }
   .pets-arr{
    margin-top: 0.9rem;
   }
    .card-our{
        width: auto;
    }
    .card-our:nth-child(7){
        display: none;
    }
    .card-our:nth-child(3){
        display: block;
    }
    .card-our:nth-child(8){
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1000.98px) {
    .start-screen-content {
        flex-direction: column;
        align-items: center;
        padding-top: 60px;

    }

    .content-text {
        padding: 0;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .start-screen-header, .start-screen-header-our  {
        width: 100%;
        max-width: 708px;
    }

    .content-image {
        padding-top: 102px;
        display: flex;
        justify-content: flex-end;
    }

    .start-screen {
        min-height: 1165px;
    }

    .about {
        min-height: 1048px;
        flex-direction: column-reverse;

    }

    .card:nth-child(3) {
        display: none;
    }
    .card-our:nth-child(3){
        display: block;
    }

    .pets-btn {
        margin-top: 2em;
    }

    .slider-arrow {
        margin-bottom: 30px;
    }

    .slider {
        justify-content: center;
        gap: 12px;
    }

    .help {
        min-height: 779px;
    }

    .help-list-item:nth-child(6) {
        padding-left: 0;
    }

    .help-list-item:nth-child(9) {
        padding-right: 0;
    }
    .help-list-item{
        width: 170px;
    }
    .help-list {
    max-width: 630px;
    gap: 35px 60px;
}
.donat{
    min-height: 783px;
}
.donat-block{
width: 100%;
flex-direction: column-reverse;
align-items: center;
}
.donat-content{
    margin-bottom: 1.7rem;
    max-width: 380px;
    margin-right: 2rem;
}
.donat-img{
    margin-top: 1.3rem;
}
.footer-right {
    padding-left: 20px;
    padding-right: 0px;
}
.footer-left {
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}
.footer-text-heading{
    margin-top: 30px;
}
}